element.style {
    grid-template-columns: repeat(5, 1fr);
}
@media screen and (min-width: 1280px)
.btg-grid {
    max-width: 1032px;
}
@media screen and (min-width: 1024px)
.btg-grid {
    grid-template-columns: repeat(12,1fr);
    gap: 24px;
    margin: 0 auto;
    max-width: 936px;
    width: 100%;
}
.btg-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
    margin-left: 24px;
    margin-right: 24px;
    width: calc(100% - 48px);
}
* {
    margin: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
* {
    margin: 0;
}
*, *:before, *:after {
    box-sizing: border-box;
}
user agent stylesheet
div {
    display: block;
}
body {
    font-family: moderat,Helvetica,sans-serif;
    font-weight: 400;
    margin-top: var(--header-height-mobile);
}
body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
}
body {
    font-family: moderat,Helvetica,sans-serif;
    font-weight: 400;
    margin-top: var(--header-height-mobile);
}
body {
    min-height: 100vh;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeSpeed;
}
:root {
    --header-height-mobile: 57px;
    --header-height-desktop: 81px;
}
:root {
    --header-height-mobile: 57px;
    --header-height-desktop: 81px;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: border-box;
}