*{
    max-width: 100vw !important;
    max-height: 100vh !important;
}

h1{
    text-align: center;
    margin-top: 0.75rem;
}

.lider-azul{
    color: #307ae0;
    font-size: 64px;
}

.lider-branco{
    color: white;
    font-size: 64px;
}

body{
    background-color: #0b2859;
    overflow-x: hidden;
    max-width: 100vw!important;
    max-height: 100vh!important;
}

#background-video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;

    max-width: 100%;

    position: absolute;
}

#content {
    position: relative;
    z-index: 1;
}

h2{
    justify-content: left;
    color:rgb(207, 207, 207);
    font-size: 2.2rem;
    margin-left: 160px;
    margin-right: 120px;
}

.chamada-video{
    justify-content: left;
    color: black;
    font-size: 1.5rem;
    margin-left: 1%;
    text-align: justify;
}

.video-btg{
    margin-left: 2%;
    margin-right: 2%;
    align-items: center;
    border-radius: 15px;
    border: 4px solid #0b2859;
    align-items: center;
    margin-bottom: 1%;
}

.div-video{
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 3%;
}

/* Função ficar acima do texto quando a tela tiver mais que 670px de largura*/
@media only screen and (max-width: 870px){
    .div-video{
        flex-direction: column;
    }
}